.git
.next
node_modules
npm-debug.log*

.env
.env.*
!.env.example
!.env.local.example

direction
supabase
scripts
.claude
.vscode

*.md
current-email-reset.html
current-schema.md
current-schema.sql
tsconfig.tsbuildinfo
